.container {
  margin: 54px 114px 0 114px;
}

.post_header {
  display: flex;
  justify-content: space-between;
}
.post_search {
  display: flex;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

a {
  padding-bottom: 30px;
  font-size: 20px;
}

.a {
  display: flex;
  align-items: flex-end;
  padding-right: 100px;
}

h1 {
  margin-right: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 0.03em;
}
