.wrapper {
  padding: 58px 114px 58px 114px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
}

pre {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 0.03em;
  color: #75869b;
}

.onChange {
  color: #016efc;
}
